<div class="container">
    <!-- <h3 class="mb-4" style="text-transform: uppercase; color: #005EB8; font-weight: 600; font-size: 28px;">REPORTS</h3> -->
    <div class="pending__requests mb-2">
        <h3 style="text-transform: uppercase; color: #005EB8; font-weight: 600; font-size: 24px;">reports</h3>
    </div>
    <div class="card mt-4">
        <div class="card-header p-3" style="background: #005EB8;color: #fff;font-size: 18px; font-weight: 600;">
            ACCOUNT CHANGE HISTORY
        </div>
        <div class="card-body" style="padding-top: 0; padding-bottom: 0;">
            <div class="row">
                <table class="table table-striped" style="margin-bottom: 0;">
                    <thead>
                        <tr>
                            <th>Date Entered</th>
                            <th>Change Type</th>
                            <th>IP Address</th>
                            <th>Updated By</th>
                            <th>Change Detail</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        <tr>
                            <td>2024-02-09</td>
                            <td>Account Password Reset</td>
                            <td>101.49.77.33</td>
                            <td>Tauhid Patel</td>
                            <td>The user has resetted the password</td>
                        </tr>
                        <tr>
                            <td>2024-02-10</td>
                            <td>Profile Updated</td>
                            <td>101.49.77.33</td>
                            <td>Ashwini Mane</td>
                            <td>Profile updated with auto update</td>
                        </tr>
                        <tr>
                            <td>2024-02-11</td>
                            <td>Order Placed</td>
                            <td>101.49.77.33</td>
                            <td>Tauhid Patel</td>
                            <td>The order has successfully</td>
                        </tr>
                        <tr>
                            <td>2024-02-11</td>
                            <td>Order Placed</td>
                            <td>101.49.77.33</td>
                            <td>Tauhid Patel</td>
                            <td>The order has successfully</td>
                        </tr>
                        <tr>
                            <td>2024-02-11</td>
                            <td>Order Placed</td>
                            <td>101.49.77.33</td>
                            <td>Tauhid Patel</td>
                            <td>The order has successfully</td>
                        </tr>
                        <tr>
                            <td>2024-02-11</td>
                            <td>Order Placed</td>
                            <td>101.49.77.33</td>
                            <td>Tauhid Patel</td>
                            <td>The order has successfully</td>
                        </tr>
                        <tr>
                            <td>2024-02-11</td>
                            <td>Order Placed</td>
                            <td>101.49.77.33</td>
                            <td>Tauhid Patel</td>
                            <td>The order has successfully</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="card mt-4">
        <div class="card-header p-3" style="background: #005EB8;color: #fff;font-size: 18px; font-weight: 600;">ORDER HISTORY</div>
        <div class="card-body" style="padding-top: 0; padding-bottom: 0;">
            <div class="row">
                <table class="table table-striped" style="margin-bottom: 0;">
                    <thead>
                        <tr>
                            <th>Date Entered</th>
                            <th>User</th>
                            <th>Action Type</th>
                            <th>Action Description</th>
                            <th>User Comments</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        <tr>
                            <td>2024-02-09</td>
                            <td>ORD001</td>
                            <td>DiamondDeck</td>
                            <td>John Doe, 123 Main St, City</td>
                            <td>Processing</td>
                        </tr>
                        <tr>
                            <td>2024-02-10</td>
                            <td>ORD002</td>
                            <td>RoofRunner</td>
                            <td>Jane Smith, 456 Oak St, Town</td>
                            <td>Shipped</td>
                        </tr>
                        <tr>
                            <td>2024-02-10</td>
                            <td>ORD002</td>
                            <td>RoofRunner</td>
                            <td>Jane Smith, 456 Oak St, Town</td>
                            <td>Shipped</td>
                        </tr>
                        <tr>
                            <td>2024-02-10</td>
                            <td>ORD002</td>
                            <td>RoofRunner</td>
                            <td>Jane Smith, 456 Oak St, Town</td>
                            <td>Shipped</td>
                        </tr>
                        <tr>
                            <td>2024-02-10</td>
                            <td>ORD002</td>
                            <td>RoofRunner</td>
                            <td>Jane Smith, 456 Oak St, Town</td>
                            <td>Shipped</td>
                        </tr>
                        <tr>
                            <td>2024-02-10</td>
                            <td>ORD002</td>
                            <td>RoofRunner</td>
                            <td>Jane Smith, 456 Oak St, Town</td>
                            <td>Shipped</td>
                        </tr>
                        <tr>
                            <td>2024-02-11</td>
                            <td>ORD003</td>
                            <td>Certawrap</td>
                            <td>Bob Johnson, 789 Pine St, Village</td>
                            <td>Delivered</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="card mt-4">
        <div class="card-header p-3" style="background: #005EB8;color: #fff;font-size: 18px; font-weight: 600;">ORDER HISTORY</div>
        <div class="card-body" style="padding-top: 0; padding-bottom: 0;">
            <div class="row">
                <table class="table table-striped" style="margin-bottom: 0;">
                    <thead>
                        <tr>
                            <th>Date Entered</th>
                            <th>User</th>
                            <th>Action Type</th>
                            <th>Action Description</th>
                            <th>User Comments</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        <tr>
                            <td>2024-02-09</td>
                            <td>ORD001</td>
                            <td>DiamondDeck</td>
                            <td>John Doe, 123 Main St, City</td>
                            <td>Processing</td>
                        </tr>
                        <tr>
                            <td>2024-02-10</td>
                            <td>ORD002</td>
                            <td>RoofRunner</td>
                            <td>Jane Smith, 456 Oak St, Town</td>
                            <td>Shipped</td>
                        </tr>
                        <tr>
                            <td>2024-02-11</td>
                            <td>ORD003</td>
                            <td>Certawrap</td>
                            <td>Bob Johnson, 789 Pine St, Village</td>
                            <td>Delivered</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>