<div class="container">
    <!-- <h3 class="mb-4" style="text-transform: uppercase; color: #005EB8; font-weight: 600; font-size: 28px;">ALL ORDERS</h3> -->
    <div class="pending__requests mb-2">
        <h3 style="text-transform: uppercase; color: #005EB8; font-weight: 600; font-size: 24px;">review proof</h3>
    </div>
    <div class="row mt-4">
        <div class="col">
            <div class="card">
                <div class="card-header p-3" style="background: #005EB8;color: #fff;font-size: 18px; font-weight: 600;">
                    REVIEW & APPROVE PROOF ATTACHED TO ORDER ( #101 )
                </div>
                <div class="card-body">
                    <p>Please follow the steps below to review and approve/reject your proof.</p>
                    <h5>Step 1: Download & Review Proof</h5>
                    <p><a href="">Click here</a> to download and review your proof.</p>
                    <h5>PMS COLORS</h5>
                    <p>Not specified</p>
                    <h5>Step 2: Approve or Reject Proof</h5>
                    <div class="row">
                        <div class="col">
                            <h4>I Approve and Accept the Conditions</h4>
                            <p>If you approve your proof, you must read and agree to the terms of use below, then click the</p>
                            <p><a href="">I APPROVE THE PROOF</a>button.</p>
                            <h4>
                                <u>
                                    Customer understands, acknowledges and agrees that because the HouseWrap product that contain Customer’s name, logo or the like is a special order, the sale of such products is FINAL and no refunds, exchanges, credits, revisions or cancellations may be made after placing the order and Customer shall in all events be responsible for the full payment to CertainTeed of the invoiced amount for such products
                                </u>
                            </h4>
                            <h4>Customer hereby expressly agrees and acknowledges that upon Customer placing an order for the HouseWrap product that includes Customer’s name, logo or the like, Customer shall be deemed to have conclusively waived any rights it may have to cancel the order, return the product or seek any refund, exchange, credit or the like.  In the event of a conflict between the terms of this clause and the terms of any other contract or agreement between Customer and CertainTeed, the terms of this clause shall govern.</h4>
                            <div class="form-group">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <p>Clicking this box indicates you acknowledge there may be a production overrun of +10%. If applicable, the overrun quantity will be added to your order and shipped accordingly.</p>
                            </div>
                            <div class="form-group">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <p>Clicking this box indicates that you have read & agree to the terms of use outlined above.</p>
                            </div>
                            <h3>ONCE YOU APPROVE THE PROOF, YOUR ORDER CANNOT BE CANCELLED.</h3>
                            <p>Your IP address ( 192.230.125.13 ) is being captured as your electronic signature.</p>
                            <button type="button" class="btn btn-primary mt-4">Upload New File</button>
                        </div>
                        <div class="col">
                            <h4>I Reject and Do Not Accept the Conditions</h4>
                            <p>If you reject your proof, please provide a specific reason why below. Then click the I REJECT THE PROOF button to have a new proof generated within 48 hours.</p>
                            <div class="form-group">
                                <label for="rejectingProof">
                                    Reason you are rejecting proof:
                                </label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="8" placeholder="Write something here ..."></textarea>
                            </div>
                            <p>Your IP address ( 192.230.125.13 ) is being captured as your electronic signature.</p>
                            <button type="button" class="btn btn-primary mt-4">Upload New File</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>           