<div class="container">
    <!-- <h3 class="mb-4" style="text-transform: uppercase; color: #005EB8; font-weight: 600; font-size: 32px;">View Order</h3> -->
    <div class="pending__requests mb-4">
        <h3 style="text-transform: uppercase; color: #005EB8; font-weight: 600; font-size: 24px;">View order</h3>
    </div>
    <div class="row mt-4">
        <div class="col">
            <div class="card">
                <div class="card-header p-3" style="background: #005EB8;color: #fff;font-size: 18px; font-weight: 600;">ORDER INFORMATION</div>
                <div class="card-body">
                    <div class="form-group mb-3">
                        <label for="site" class="form-label">Site</label>
                        <input type="text" class="form-control" id="selectedSite" value="RoofRunner" aria-describedby="selectedSiteHelp" disabled readonly>
                    </div>
                    <div class="form-group mb-3">
                        <label for="orderNumber" class="form-label">Order Number</label>
                        <input type="text" readonly class="form-control" id="orderNumber" value="testOrderTauhid" aria-describedby="orderNumberHelp" disabled readonly>
                    </div>
                    <div class="form-group mb-3">
                        <label for="PONumber" class="form-label">PO Number</label>
                        <input type="text" class="form-control" id="PONumber" value="123TT" aria-describedby="PONumberHelp" disabled readonly>
                    </div>
                    <div class="form-group mb-3">
                        <label for="dateOfOrder" class="form-label">Date of Order</label>
                        <input type="text" class="form-control" id="dateOfOrder" value="21/02/2024" aria-describedby="dateOfOrder" disabled readonly>
                    </div>
                    <div class="form-group mb-3">
                        <label for="anticipatedCompletionDate" class="form-label">Anticipated Completion Date</label>
                        <input type="text" class="form-control" id="anticipatedCompletionDate" value="---" aria-describedby="anticipatedCompletionDateHelp" disabled readOnly>
                    </div>
                    <div class="form-group mb-3">
                        <label for="orderStatus" class="form-label">Order Status</label>
                        <p><a href="">Pending artwork upload by customer</a></p>
                    </div>
                    <div class="form-group mb-3">
                        <label for="enteredBy" class="form-label">Entered By</label>
                        <input type="text" class="form-control" id="enteredBy" value="tauhidpatel" aria-describedby="enteredByHelp" disabled readonly>
                    </div>
                    <div class="form-group mb-3">
                        <label for="lastUpdated" class="form-label">Last Updated</label>
                        <input type="text" class="form-control" id="lastUpdated" value="27/02/2024" aria-describedby="lastUpdatedHelp" disabled readonly>
                    </div>
                    <div class="form-group mb-3">
                        <label for="artworkFile" class="form-label">Artwork File</label>
                        <input type="text" class="form-control" id="artworkFile" value="(pending upload by client)" aria-describedby="artworkFileHelp" disabled readonly>
                    </div>
                    <div class="form-group mb-3">
                        <label for="latestProof" class="form-label">Latest Proof</label>
                        <input type="text" class="form-control" id="latestProof" value="(pending upload by vendor)" aria-describedby="latestProofHelp" disabled readonly>
                    </div>
                    <div class="form-group mb-3">
                        <label for="orderType" class="form-label">Order Type</label>
                        <input type="text" class="form-control" id="orderType" value="packaged" aria-describedby="packaged" disabled readonly>
                    </div>
                </div>
                
            </div>
        </div>

        <!-- SHIPPINGGGG -->
        <div class="col">
            <div class="card">
                <div class="card-header p-3" style="background: #005EB8;color: #fff;font-size: 18px; font-weight: 600;">SHIPPING INFORMATION</div>
                <div class="card-body">
                    <div class="form-group mb-3">
                        <label for="orderBy" class="form-label">Order By</label>
                        <input type="text" class="form-control" id="orderBy" value="tauhid" aria-describedby="orderByHelp" disabled readonly>

                    </div>
                    <div class="form-group mb-3">
                        <label for="shipTo" class="form-label">Ship To</label>
                        <input type="text" class="form-control" id="shipTo" value="010" aria-describedby="shipToHelp" disabled readonly>

                    </div>
                    <div class="form-group mb-3">
                        <label for="company" class="form-label">Company</label>
                        <input type="text" class="form-control" id="company" value="certainteed" aria-describedby="companyHelp" disabled readonly>

                    </div>
                    <div class="form-group mb-3">
                        <label for="contact" class="form-label">Contact</label>
                        <input type="text" class="form-control" id="contact" value="9988776655" aria-describedby="contactHelp" disabled readonly>

                    </div>
                    <div class="form-group mb-3">
                        <label for="address" class="form-label">Address</label>
                        <input type="text" class="form-control" id="address" value="123 St. james park" aria-describedby="addressHelp" disabled readonly>

                    </div>
                    <div class="form-group mb-3">
                        <label for="city" class="form-label">City</label>
                        <input type="text" class="form-control" id="city" value="santa monica" aria-describedby="cityHelp" disabled readonly>

                    </div>
                    <div class="form-group mb-3">
                        <label for="city" class="form-label">State/Province</label>
                        <select class="form-select" aria-label="Default select example" disabled readonly>
                            <option>--select a state--</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option selected value="LA">LA</option>
                        </select>

                    </div>
                    <div class="form-group mb-3">
                        <label for="zip" class="form-label">Zip/Postal Code</label>
                        <input type="text" class="form-control" id="zip" value="121" aria-describedby="zipHelp" disabled readonly>

                    </div>
                    <div class="form-group mb-3">
                        <label for="country" class="form-label">Country</label>
                        <select class="form-select" aria-label="Default select example" disabled readonly>
                            <option>--select a country--</option>
                            <option value="1">One</option>
                            <option selected value="ca">CA</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="form-group mb-3">
                        <label for="telephone" class="form-label">Telephone</label>
                        <input type="text" class="form-control" id="telephone" aria-describedby="telephoneHelp" disabled readonly>
                    </div>
                    <div class="form-group" style="visibility: hidden;">
                        <label for="telephone" class="form-label">Telephone</label>
                        <input type="text" class="form-control" id="telephone" aria-describedby="telephoneHelp" disabled readonly>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <!-- PRODUCTS NEW SECTION -->
    <div class="card mt-4">
        <div class="card-header p-3" style="background: #005EB8;color: #fff;font-size: 18px; font-weight: 600;">PRODUCTS</div>
        <div class="card-body">
            <div class="row">
                <div class="col mt-2">
                    <p>Product Code</p>
                    <input type="text" class="form-control" name="" id="" value="3213A-GG" disabled readonly>
                </div>
                <div class="col mt-2">
                    <p>Description</p>
                    <input type="text" class="form-control" name="" id="" value="Co-Brand Certawrap 9x100" disabled readonly>
                </div>
                <div class="col mt-2">
                    <p>Quantity</p>
                    <input type="text" class="form-control" name="" id="" value="3" disabled readonly>
                </div>
            </div>
        </div>
    </div>


    <!-- ASSIGN CUSTOMER SECTION -->
    <div class="card mt-4">
        <div class="card-header p-3" style="background: #005EB8;color: #fff;font-size: 18px; font-weight: 600;">ASSIGNED CUSTOMER</div>
        <div class="card-body">
            <div class="row">
                <div class="col mt-2">
                    <p>Name</p>
                    <input type="text" class="form-control" name="" id="" value="Tauhid" disabled readonly>
                </div>
                <div class="col mt-2">
                    <p>Email Address</p>
                    <input type="text" class="form-control" name="" id="" value="tauhid@gmail.com" disabled readonly>
                </div>
            </div>
        </div>
    </div>
    
    <!-- ORDER HISTORY SECTION -->
    <div class="card mt-4">
        <div class="card-header p-3" style="background: #005EB8;color: #fff;font-size: 18px; font-weight: 600;">ORDER HISTORY</div>
        <div class="card-body" style="padding-top: 0; padding-bottom: 0;">
            <div class="row">
                <table class="table table-striped" style="margin-bottom: 0;">
                    <thead>
                        <tr>
                            <th>Date Entered</th>
                            <th>User</th>
                            <th>Action Type</th>
                            <th>Action Description</th>
                            <th>User Comments</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        <tr>
                            <td>2024-02-09</td>
                            <td>ORD001</td>
                            <td>DiamondDeck</td>
                            <td>John Doe, 123 Main St, City</td>
                            <td>Processing</td>
                        </tr>
                        <tr>
                            <td>2024-02-10</td>
                            <td>ORD002</td>
                            <td>RoofRunner</td>
                            <td>Jane Smith, 456 Oak St, Town</td>
                            <td>Shipped</td>
                        </tr>
                        <tr>
                            <td>2024-02-11</td>
                            <td>ORD003</td>
                            <td>Certawrap</td>
                            <td>Bob Johnson, 789 Pine St, Village</td>
                            <td>Delivered</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
