* {
    font-family: gotham,"Helvetica","Arial",sans-serif;
}

.container {
    padding-left: 0;
    padding-right: 0;
}

.dashboard__title {
    margin-top: 2em;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F5F3F0;
    border-radius: 8px;
}

.dashboard__title h3 {
    margin-bottom: 0;
}

.dashboard__content {
    margin-top: 2em;
}

.card-body {
    padding: 0;
}

.card {
    height: 25vh;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: #005EB8;
    border-left: 7px solid #005EB8;
    /* border-radius: 0; */
    border-top-left-radius: .5em;
    border-top-right-radius: 0em;
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: 0em;
    cursor: pointer;
}

.card__right p {
    text-align: right;
}

.card p {
    margin-top: .5em;
    margin-bottom: 0em;
    /* font-size: 1rem; */
    font-size: 18px;
    font-weight: 500;
}

.card__right h3 {
    text-align: right;
    font-size: 3em;
    font-weight: 600;
}

.pending__requests {
    margin-top: 2em;
    padding: 1em;
    background: #F5F3F0;
    border-radius: 8px;
}

.pending__requests h3 {
    margin-bottom: 0em;
}

tbody tr td:last-child {
    color: #005EB8;
    font-weight: 600;
}

/* tbody button {
    color: #005EB8;
    border: 2px solid #005EB8;
    background: none;
    border-radius: 5px;
} */