<main>
    <!-- <section class="welcome-img-container">
        <div class="container">
          <div class="gradient"></div>
          <h1 style="padding-top: 1.5em; z-index: 1;">Welcome {{ Name }}</h1>
        </div>
    </section> -->
    <!-- <div class="woo-container container" style="border-radius: .5em; margin-top: 2em;"> -->
      <div class="container" style="padding-left: 0; margin-bottom: 0;">
        <div class="dashboard__title">
          <h3 style="text-transform: uppercase; color: #005EB8; font-weight: 600; font-size: 24px;">{{'welcome.welcome_dashboard' | translate}}</h3>
        </div>
      </div>
    <!-- </div> -->
    
    <section class="container dashboard__content mb-5" style="padding-left: 0;">
      <div class="row">
        <div class="col">
          <div class="card" routerLink="/allOrders">
            <div class="card__left">
              <img style="height: 18vh;" src="../../../assets/images/order-icon.png" alt="">
            </div>
            <div class="card__right">
              <p>{{ 'welcome.all_orders' | translate }}</p>
              <h3>2,430</h3>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" routerLink="/createNewOrder">
            <div class="card__left">
              <img style="height: 16vh;" src="../../../assets/images/completed-orders-icon.png" alt="">
            </div>
            <div class="card__right">
              <p>{{ 'welcome.completed_orders' | translate }}</p>
              <h3>520</h3>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" routerLink="/createNewOrder">
            <div class="card__left">
              <img style="height: 18vh;" src="../../../assets/images/processed-orders-icon.png" alt="">
            </div>
            <div class="card__right">
              <p>{{ 'welcome.processed_orders' | translate }}</p>
              <h3>130</h3>
            </div>
          </div>
        </div>
      </div>
    </section>
      

    <section class="container mb-5" style="padding-left: 0;">
      <div class="pending__requests mb-5">
        <h3 style="text-transform: uppercase; color: #005EB8; font-weight: 600; font-size: 24px;">{{ 'welcome.pending_requests' | translate }}</h3>
      </div>
        <table style="margin-top: 2em" id="example" class="table table-borderless caption-top">
          <caption>List of users</caption>
          <thead>
              <tr>
                  <th>{{'welcome.pending_1' | translate}}</th>
                  <th>{{'welcome.pending_2' | translate}}</th>
                  <th>{{'welcome.pending_3' | translate}}</th>
                  <th>{{'welcome.pending_4' | translate}}</th>
                  <th>{{'welcome.pending_5' | translate}}</th>
                  <th>{{'welcome.pending_6' | translate}}</th>
              </tr>
          </thead>
          <tbody class="table-group-divider">
              <tr>
                  <td>2024-02-09</td>
                  <td>ORD001</td>
                  <td>DiamondDeck</td>
                  <td>John Doe, St, City</td>
                  <td>Processing</td>
                  <td routerLink="/dashboard" style="cursor: pointer;">View Order</td>
              </tr>
              <tr>
                  <td>2024-02-10</td>
                  <td>ORD002</td>
                  <td>RoofRunner</td>
                  <td>Jane Smith, St, Town</td>
                  <td>Shipped</td>
                  <td>View Order</td>
              </tr>
              <tr>
                  <td>2024-02-11</td>
                  <td>ORD003</td>
                  <td>Certawrap</td>
                  <td>Bob Johnson, St, Village</td>
                  <td>Delivered</td>
                  <td>View Order</td>
              </tr>
              <tr>
                  <td>2024-02-12</td>
                  <td>ORD004</td>
                  <td>DiamondDeck</td>
                  <td>Alice Brown,St, Hamlet</td>
                  <td>Processing</td>
                  <td>View Order</td>
              </tr>
              <tr>
                  <td>2024-02-13</td>
                  <td>ORD005</td>
                  <td>RoofRunner</td>
                  <td>Charlie Davis, St, Borough</td>
                  <td>Shipped</td>
                  <td>View Order</td>
              </tr>
              <tr>
                  <td>2024-02-14</td>
                  <td>ORD006</td>
                  <td>Certawrap</td>
                  <td>Eve White, St, District</td>
                  <td>Delivered</td>
                  <td>View Order</td>
              </tr>
              <tr>
                  <td>2024-02-15</td>
                  <td>ORD007</td>
                  <td>DiamondDeck</td>
                  <td>Frank Black, Birch St, Precinct</td>
                  <td>Processing</td>
                  <td>View Order</td>
              </tr>
              <tr>
                  <td>2024-02-15</td>
                  <td>ORD008</td>
                  <td>DiamondDeck</td>
                  <td>Frank Black, St, Precinct</td>
                  <td>Shipped</td>
                  <td>View Order</td>
              </tr>
              <tr>
                  <td>2024-02-15</td>
                  <td>ORD009</td>
                  <td>RoofRunner</td>
                  <td>Frank Black, St, Precinct</td>
                  <td>Shipped</td>
                  <td>View Order</td>
              </tr>
              <tr>
                  <td>2024-02-15</td>
                  <td>ORD010</td>
                  <td>Certawrap</td>
                  <td>Frank Black, St, Precinct</td>
                  <td>Processing</td>
                  <td>View Order</td>
              </tr>
              <tr>
                  <td>2024-02-15</td>
                  <td>ORD011</td>
                  <td>DiamondDeck</td>
                  <td>Frank Black, St, Precinct</td>
                  <td>Delivering</td>
                  <td>View Order</td>
              </tr>
              <tr>
                  <td>2024-02-15</td>
                  <td>ORD012</td>
                  <td>RoofRunner</td>
                  <td>Frank Black, St, Precinct</td>
                  <td>Processing</td>
                  <td>View Order</td>
              </tr>
          </tbody>
      </table>
    </section>
</main>