<div class="container">
    <!-- <h3 class="mb-4" style="text-transform: uppercase; color: #005EB8; font-weight: 600; font-size: 28px;">Role Access</h3> -->
    <div class="pending__requests mb-2">
        <h3 style="text-transform: uppercase; color: #005EB8; font-weight: 600; font-size: 24px;">role access</h3>
    </div>
    <div class="col-md card mt-4">
        <!-- <img style="height: 25px; margin: 0 auto;" src="//logo.clearbit.com/certainteed.com" alt=""> -->
        <div class="card-header p-3" style="text-transform: uppercase;background: #005EB8;color: #fff;font-size: 18px; font-weight: 600;">Assign a Role</div>
        <div class="card-body p-3">
            <div class="form-group mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="text" name="email" class="form-control mb-3" id="email" placeholder="eg: john.doe@saint-gobain.com" required/>
            </div>
            <div class="form-group mb-3">
                <label for="site" class="form-label">Site</label>
                <select class="form-select mb-3" aria-label="Default select example">
                    <option selected>-- Select a Site --</option>
                    <option value="DiamondDeck">DiamondDeck</option>
                    <option value="RoofRunner">RoofRunner</option>
                    <option value="Certawrap">Certawrap</option>
                </select>
            </div>
            <div class="form-group mb-3">
                <label id="securityLevel" for="securityLevel" class="form-required mb-2">Security Level</label>
                <select class="form-select mb-4" aria-label="Select Security Level">
                    <option selected>-- Select Security Level --</option>
                    <option value="SuperAdmin">Super Admin</option>
                    <option value="Admin">Admin</option>
                    <option value="EndUser">End User</option>
                    <option value="Vendor">Vendor</option>
                    <option value="CustomerService">Customer Service</option>
                </select>
            </div>
            <a routerLink="/verifyotp" class="btn-submit w-25 mt-2">Save Changes</a>
        </div>
    </div>
</div>
