<nav class="navbar navbar-expand-lg" style="padding: .07em 0;">
  <div class="container" style="padding-left: 0;">
    <p style="color: #005EB8; font-size: 18px; margin-bottom: 0;" *ngIf="showWelcome">{{ 'header.title' | translate }} {{ Name }}</p>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngIf="showIcons">
          <span class="tt" data-bs-placement="bottom" title="dashboard">
            <a class="nav-link" routerLink="/welcome">
                <img style="height: 30px;" src="../../../assets/home.png" alt="">
            </a>
          </span>
        </li>
        <li class="nav-item" *ngIf="showIcons">
          <span class="tt" data-bs-placement="bottom" title="profile">
            <a class="nav-link" routerLink="/userprofile">
                <img style="height: 20px; margin-top: 4px;" src="../../../assets/profile.png" alt="">
            </a>
          </span>
        </li>
      </ul>
      <div class="dropdown dropdown--country bg__grey-light js-utility-nav js-utility-drop__wrapper utility-drop__wrapper" (document:click)="clickout($event)" style="height: 28px;">
        <!-- <div class="dropdown dropdown--country bg__grey-light js-utility-nav js-utility-drop__wrapper utility-drop__wrapper" (click)="toggleDropdown($event)" style="height: 28px;"> -->
          <button class="js-utility-drop__trigger utility-drop__trigger" style="height: 100%;" (click)="toggleDropdown($event)">
            <span class="flag-icon flag-icon-us" id="flag"></span>
            <span aria-hidden="true" class="js-utility-drop-title">{{flag | uppercase}}<span class="utility-drop__country-divider">|</span>{{langauge | uppercase}}</span>
            <span class="arrow"> <img src="../../../assets/images/Path 1.svg" /></span>
          </button>
          <div class="utility-nav__content bg__white" *ngIf="isDropdownOpen">
            <ul class="menu">
              <li class="menu__item menu__item--country">
                <a class="menu__link">
                  <span class="flag-icon flag-icon-us utility__icon--country"></span>
                  United States
                </a>
              </li>
              <li class="menu__item menu__item--language">
                <a class="menu__link" (click)="useLanguage('en','us')">
                  <span class="visually-hidden">United States</span>
                  English (EN)
                </a>
              </li>
              <li class="menu__item menu__item--language">
                <a class="menu__link" (click)="useLanguage('es','us')">
                  <span class="visually-hidden">United States</span>
                  Spanish (ES)
                </a>
              </li>
              <li class="menu__item menu__item--country">
                <a class="menu__link">
                  <span class="flag-icon flag-icon-cn  utility__icon--country"></span>
                  Canada
                </a>
              </li>
              <li class="menu__item menu__item--language">
                <a class="menu__link" (click)="useLanguage('en','cn')">
                  <span class="visually-hidden">Canada</span>
                  English (EN)
                </a>
              </li>
              <li class="menu__item menu__item--language">
                <a class="menu__link" (click)="useLanguage('fr','cn')">
                  <span class="visually-hidden">Canada</span>
                  French (FR)
                </a>
              </li>
            </ul>
          </div>
        </div>        
      <button class="btn-logout" *ngIf="showLogoutButton" (click)="logout()">{{ 'header.logout' | translate }} </button>
    </div>
  </div>
</nav>

<header>
  <div class="container d-flex justify-content-between align-items-center" style="padding-left: .11em; padding-top: 0.006em; padding-right: 0;">
    <a class="navbar-brand" routerLink="/landing">
      <!-- <img src="https://stg.newcertainteed.com/themes/custom/certainteed/images/logo.svg" alt=""> -->
      <img src="https://www.certainteed.com/themes/custom/certainteed/images/logo.svg" alt="">
    </a>
    <ul class="d-flex gap-3" style="margin-bottom: 0;">
      <li style="list-style: none;" *ngIf="showNavItems" >
        <a routerLink="/createNewOrder">{{ 'header.create_new_order' | translate }} </a>
      </li>
      <li style="list-style: none;" *ngIf="showNavItems">
        <a routerLink="/repeatOrder">{{ 'header.repeat_order' | translate }} </a>
      </li>
      <li style="list-style: none;" *ngIf="showNavItems">
        <a routerLink="/createUser">{{ 'header.create_user' | translate }}</a>
      </li>
      <li style="list-style: none;" *ngIf="showNavItems">
        <a routerLink="/roleAccess">{{ 'header.role_access' | translate }} </a>
      </li>
      <li style="list-style: none;" *ngIf="showNavItems">
        <a routerLink="/reports">{{ 'header.reports' | translate }} </a>
      </li>
    </ul>
  </div>
</header>