nav {
    background: #ede8e0;
}

header {
    /* padding: 1em; */
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28)
}

header ul li a {
    position: relative; /* Add relative positioning to the anchor */
    color: #005eb8;
    text-decoration: none; /* Remove default underline */
}

header ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px; /* Adjust the height of the underline as needed */
    background-color: #005eb8;
    transform: scaleX(0); /* Initially set the underline to be invisible */
    transform-origin: bottom right;
    transition: transform 0.3s ease-out; /* Add a transition for smooth effect */
}

header ul li a:hover::after {
    transform: scaleX(1); /* When hovering, scale the underline to show it */
}


.navbar .container {
    padding-right: 0;
}

.header-top {
    background: #ede8e0;
    /* padding: .25em; */
    /* max-height: 50px; */
}

.header-bottom {
    /* box-shadow: 0 1px 14px 1px rgba(32, 33, 9, 0.22); */
    box-shadow: 0 0 12px rgba(0,0,0,.24);
    z-index: 1001;
}

.btn-logout {
    margin-left: 1.5em;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    font-family: gotham,"Helvetica","Arial",sans-serif;
    font-size: 14px;
    line-height: 24px;
    padding: 0.3rem 2rem;
    /* padding: 10px 22px; */
    font-weight: 700;
    background: #005eb8;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.2s box-shadow ease-in-out;
}

.btn-logout:hover {
    /* outline: 4px solid white; */
    box-shadow: inset 0 0 0 2px white;
}

.navbar-brand {
    padding-top: .5em;
    padding-bottom: .5em;
}

.navbar-brand img {
    /* height: 80px; */
    width: 17.90rem;
}

/* HAMBURGER FOR MENU OPTIONS */
  
  

/* 888888888 LANGUAGEEEEE  888888888888888 */
.flag-icon-us {
    width: 1.5rem;
    height: 1.25rem;
    /* background-image: url('https://stg.newcertainteed.com/themes/custom/certainteed/dist/icons.svg#icon-US');
     */
    background-image: url('../../../assets/images/usa-flag.jpg'); 
}
.utility-drop__country-divider {
    margin: 0 0.125rem;
}
.flag-icon {
    margin: 0.25rem 0.25rem 0 0;
    position: relative;
    display: inline-block;
    line-height: 1em;
    background-size: 24px 22px !important;
}
.flag-icon-cn {
    width: 1.5rem;
    height: 1.25rem;
    /* background-image: url('../../../assets/cnd.jpg'); */
    background-image: url('../../../assets/cnd.jpg'); 
}

/* .flag-icon-cn {
    width: 20px;
    height: 20px;
    background-image: url('../../../assets/canada.png');
    z-index: 100;
} */

/* .flag-icon-us img {
    width: 1.3rem;
    height: 1rem;
    margin-right: .3em;
} */

.utility-nav__list .dropdown--country .utility-nav__content {
    padding: 1.2rem 2.2rem 1.25rem 1.25rem;
    background: red;
}
.open .utility-nav__content {
    display: block;
}

.utility-nav__content {
/*     display: none; */
    position: absolute;
    top: 110%;
    right: 2%;
    padding: 1rem;
    z-index: 15;
    box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,.15);
    min-width: 11.45rem;
}
.bg__white, .bg-solid-bg-white {
    background-color: var(--c-black);
}

.utility-nav__content .menu__item--country {
    margin-bottom: 1.25rem;
}
.utility-nav__content .menu__item--country {
    margin-bottom: 1.25rem;
}
.utility-nav__content .menu__item .menu__link {
    white-space: nowrap;
/*     color: var(--c-grey-dark); */
}

.utility-nav__content .menu__item--country .menu__link {
    font-size: 1.125rem;
    font-weight: 700;
}
.utility-nav__content .menu__link {
    color: var(--c-grey);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,0);
    display: flex;
    align-items: center;
}
.utility__icon.utility__icon--country {
    width: 1.5rem;
    height: 1.25rem;
}

.utility-nav__content .utility__icon--country {
    margin-right: 0.625rem;
}
.utility__icon {
    margin: 0 0.25rem;
}
.utility-nav__content .menu__item--country:not(:first-child) {
    padding-top: 1.5rem;
    border-top: solid 0.0625rem gray;
}

.utility-nav__content .menu__item--country {
    margin-bottom: 1.25rem;
}
.utility-nav__content .menu__item--language {
    margin-bottom: 1.5rem;
}
ul, ol {
    list-style: none;
}

button.js-utility-drop__trigger.utility-drop__trigger {
    /* margin: 1em 0em; */
    margin-left: .5em;
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 1em; */
    background: none;
    border: none;
}

/* .nav-item {
    visibility: hidden;
} */

.js-utility-drop-title {
    color: #005eb8;
    text-decoration: underline;
    margin-right: .3em;
}

div.utility-nav__content.bg__white {
    background: white;
    padding-bottom: 0;
    padding-right: 2em;
}

ul.menu {
    padding-left: 0;
}