<div class="container">
    <!-- <h3 class="mb-4" style="text-transform: uppercase; color: #005EB8; font-weight: 600; font-size: 28px;">ALL ORDERS</h3> -->
    <div class="pending__requests mb-2">
        <h3 style="text-transform: uppercase; color: #005EB8; font-weight: 600; font-size: 24px;">ORDER DETAILS</h3>
    </div>
    <table style="margin-top: 1em;" id="example" class="table table-responsive table-borderless caption-top">
        <thead>
            <tr>
                <th>Order Date</th>
                <th>Order Number</th>
                <th>Site</th>
                <th>Ship To Information</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr>
                <td>2024-02-09</td>
                <td>ORD001</td>
                <td>DiamondDeck</td>
                <td>John Doe, 123 Main St, City</td>
                <td>Processing</td>
                <td>
                    <div class="actions__one">
                        <ul>
                            <span class="tt" data-bs-placement="top" title="View">
                            <li routerLink="/viewOrder">
                                <img style="height: 30px; margin-right: 5px; cursor: pointer;" src="../../../assets/images/action-view.png" />
                            </li>
                            </span>
                            <li>
                                <img style="height: 30px; margin-right: 5px; cursor: pointer;" src="../../../assets/images/action-print.png" />
                            </li>
                            <span class="tt" data-bs-placement="top" title="Repeat">
                            <li routerLink="/repeatOrder">
                                <img style="height: 30px; margin-right: 5px; cursor: pointer;" src="../../../assets/images/action-repeat.png" />
                            </li>
                            </span>
                            <span class="tt" data-bs-placement="top" title="Edit">
                            <li>
                               <img style="height: 30px; margin-right: 5px; cursor: pointer;" src="../../../assets/images/action-edit.png" />
                            </li>
                            </span>
                        </ul>
                    </div>
                    <div class="actions__two">
                        <p>Artwork: </p> 
                        <img style="height: 20px; margin-right: 2px;" src="../../../assets/images/action-upload.png" /><a href="">Upload</a> <img style="height: 20px; margin-right: 2px;" src="../../../assets/images/action-download.png" /><a href="">Delete</a>
                    </div>
                    <div class="actions__three">
                        <p>Proof: </p>
                        <img style="height: 20px; margin-right: 2px;" src="../../../assets/images/action-upload.png" /><a routerLink="/uploadProof">Upload</a>
                        <img style="height: 20px; margin-right: 2px;" src="../../../assets/images/action-upload.png" /><a href="">Download</a>
                        <img style="height: 20px; margin-right: 2px;" src="../../../assets/images/action-review.png" /><a routerLink="/reviewProof">Review</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>   
