html {
    height: 100%;
    box-sizing: border-box;
  }

.page-wrapper {
    min-height: 100vh;
    /* width: 100vw; */
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.sticky-header {
    flex-grow: 0;
    min-height: 60px; /* whatever you want it to be */
}

.content-wrapper {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.content {
    flex-grow: 1;
}

.footer {
    /* min-height: 60px;  */
    width: 100%;
    background: #F5F3F0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
}
