<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm- col-md- col-lg-4">
                <div class="logos">
                <img class="img-fluid" src="https://stg.newcertainteed.com/themes/custom/certainteed/images/logo.svg" alt="">
                <ul class="social-icons-container">
                    <li> <!-- INSTAGRAM LOGO -->
                        <a href="https://www.instagram.com/certainteed/" target="_blank">
                            <svg width="21" class="svgS" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10.5 1.80078C13.1719 1.80078 13.4883 1.8125 14.5391 1.85937C15.5156 1.90234 16.043 2.06641 16.3945 2.20313C16.8594 2.38281 17.1953 2.60156 17.543 2.94922C17.8945 3.30078 18.1094 3.63281 18.2891 4.09766C18.4258 4.44922 18.5898 4.98047 18.6328 5.95313C18.6797 7.00781 18.6914 7.32422 18.6914 9.99219C18.6914 12.6641 18.6797 12.9805 18.6328 14.0313C18.5898 15.0078 18.4258 15.5352 18.2891 15.8867C18.1094 16.3516 17.8906 16.6875 17.543 17.0352C17.1914 17.3867 16.8594 17.6016 16.3945 17.7813C16.043 17.918 15.5117 18.082 14.5391 18.125C13.4844 18.1719 13.168 18.1836 10.5 18.1836C7.82813 18.1836 7.51172 18.1719 6.46094 18.125C5.48438 18.082 4.95703 17.918 4.60547 17.7813C4.14063 17.6016 3.80469 17.3828 3.45703 17.0352C3.10547 16.6836 2.89063 16.3516 2.71094 15.8867C2.57422 15.5352 2.41016 15.0039 2.36719 14.0313C2.32031 12.9766 2.30859 12.6602 2.30859 9.99219C2.30859 7.32031 2.32031 7.00391 2.36719 5.95313C2.41016 4.97656 2.57422 4.44922 2.71094 4.09766C2.89063 3.63281 3.10938 3.29688 3.45703 2.94922C3.80859 2.59766 4.14063 2.38281 4.60547 2.20313C4.95703 2.06641 5.48828 1.90234 6.46094 1.85937C7.51172 1.8125 7.82813 1.80078 10.5 1.80078ZM10.5 0C7.78516 0 7.44531 0.0117187 6.37891 0.0585938C5.31641 0.105469 4.58594 0.277344 3.95313 0.523437C3.29297 0.78125 2.73438 1.12109 2.17969 1.67969C1.62109 2.23438 1.28125 2.79297 1.02344 3.44922C0.777344 4.08594 0.605469 4.8125 0.558594 5.875C0.511719 6.94531 0.5 7.28516 0.5 10C0.5 12.7148 0.511719 13.0547 0.558594 14.1211C0.605469 15.1836 0.777344 15.9141 1.02344 16.5469C1.28125 17.207 1.62109 17.7656 2.17969 18.3203C2.73438 18.875 3.29297 19.2188 3.94922 19.4727C4.58594 19.7188 5.3125 19.8906 6.375 19.9375C7.44141 19.9844 7.78125 19.9961 10.4961 19.9961C13.2109 19.9961 13.5508 19.9844 14.6172 19.9375C15.6797 19.8906 16.4102 19.7188 17.043 19.4727C17.6992 19.2188 18.2578 18.875 18.8125 18.3203C19.3672 17.7656 19.7109 17.207 19.9648 16.5508C20.2109 15.9141 20.3828 15.1875 20.4297 14.125C20.4766 13.0586 20.4883 12.7188 20.4883 10.0039C20.4883 7.28906 20.4766 6.94922 20.4297 5.88281C20.3828 4.82031 20.2109 4.08984 19.9648 3.45703C19.7188 2.79297 19.3789 2.23438 18.8203 1.67969C18.2656 1.125 17.707 0.78125 17.0508 0.527344C16.4141 0.28125 15.6875 0.109375 14.625 0.0625C13.5547 0.0117188 13.2148 0 10.5 0Z" fill="#005EB8"></path><path d="M10.5 4.86328C7.66406 4.86328 5.36328 7.16406 5.36328 10C5.36328 12.8359 7.66406 15.1367 10.5 15.1367C13.3359 15.1367 15.6367 12.8359 15.6367 10C15.6367 7.16406 13.3359 4.86328 10.5 4.86328ZM10.5 13.332C8.66016 13.332 7.16797 11.8398 7.16797 10C7.16797 8.16016 8.66016 6.66797 10.5 6.66797C12.3398 6.66797 13.832 8.16016 13.832 10C13.832 11.8398 12.3398 13.332 10.5 13.332Z" fill="#005EB8"></path><path d="M17.0391 4.66016C17.0391 5.32422 16.5 5.85938 15.8398 5.85938C15.1758 5.85938 14.6406 5.32031 14.6406 4.66016C14.6406 3.99609 15.1797 3.46094 15.8398 3.46094C16.5 3.46094 17.0391 4 17.0391 4.66016Z" fill="#005EB8"></path>
                            </svg>
                        </a>
                    </li>
                    <li> <!-- FACEBOOK LOGO -->
                        <a href="https://www.facebook.com/CertainTeed/" target="_blank">
                            <svg  class="svgS" width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.5 10C20.5 4.47715 16.0229 0 10.5 0C4.97715 0 0.5 4.47715 0.5 10C0.5 14.9912 4.15684 19.1283 8.9375 19.8785V12.8906H6.39844V10H8.9375V7.79688C8.9375 5.29063 10.4305 3.90625 12.7146 3.90625C13.8084 3.90625 14.9531 4.10156 14.9531 4.10156V6.5625H13.6922C12.45 6.5625 12.0625 7.3334 12.0625 8.125V10H14.8359L14.3926 12.8906H12.0625V19.8785C16.8432 19.1283 20.5 14.9912 20.5 10Z" fill="#005EB8"></path>
                            </svg>
                        </a>
                    </li>
                    <li> <!-- YOUTUBE LOGO -->
                        <a href="https://www.youtube.com/channel/UCa_viCpI7UoNkZRzgEtE9sQ" target="_blank">
                            <svg class="svgS" width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.3008 6C20.3008 6 20.1055 4.62109 19.5039 4.01563C18.7422 3.21875 17.8906 3.21484 17.5 3.16797C14.7031 2.96484 10.5039 2.96484 10.5039 2.96484H10.4961C10.4961 2.96484 6.29687 2.96484 3.5 3.16797C3.10938 3.21484 2.25781 3.21875 1.49609 4.01563C0.894531 4.62109 0.703125 6 0.703125 6C0.703125 6 0.5 7.62109 0.5 9.23828V10.7539C0.5 12.3711 0.699219 13.9922 0.699219 13.9922C0.699219 13.9922 0.894531 15.3711 1.49219 15.9766C2.25391 16.7734 3.25391 16.7461 3.69922 16.832C5.30078 16.9844 10.5 17.0313 10.5 17.0313C10.5 17.0313 14.7031 17.0234 17.5 16.8242C17.8906 16.7773 18.7422 16.7734 19.5039 15.9766C20.1055 15.3711 20.3008 13.9922 20.3008 13.9922C20.3008 13.9922 20.5 12.375 20.5 10.7539V9.23828C20.5 7.62109 20.3008 6 20.3008 6ZM8.43359 12.5938V6.97266L13.8359 9.79297L8.43359 12.5938Z" fill="#005EB8"></path></svg>
                        </a>
                    </li>
                    <li> <!-- PINTEREST LOGO -->
                        <a href="https://www.pinterest.com/certainteed/" target="_blank">
                            <svg class="svgS" width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.5 0C4.97656 0 0.5 4.47656 0.5 10C0.5 14.2383 3.13672 17.8555 6.85547 19.3125C6.76953 18.5195 6.6875 17.3086 6.89063 16.4453C7.07422 15.6641 8.0625 11.4766 8.0625 11.4766C8.0625 11.4766 7.76172 10.8789 7.76172 9.99219C7.76172 8.60156 8.56641 7.5625 9.57031 7.5625C10.4219 7.5625 10.8359 8.20312 10.8359 8.97266C10.8359 9.83203 10.2891 11.1133 10.0078 12.3008C9.77344 13.2969 10.5078 14.1094 11.4883 14.1094C13.2656 14.1094 14.6328 12.2344 14.6328 9.53125C14.6328 7.13672 12.9141 5.46094 10.457 5.46094C7.61328 5.46094 5.94141 7.59375 5.94141 9.80078C5.94141 10.6602 6.27344 11.582 6.6875 12.082C6.76953 12.1797 6.78125 12.2695 6.75781 12.3672C6.68359 12.6836 6.51172 13.3633 6.48047 13.5C6.4375 13.6836 6.33594 13.7227 6.14453 13.6328C4.89453 13.0508 4.11328 11.2266 4.11328 9.75781C4.11328 6.60156 6.40625 3.70703 10.7188 3.70703C14.1875 3.70703 16.8828 6.17969 16.8828 9.48438C16.8828 12.9297 14.7109 15.7031 11.6953 15.7031C10.6836 15.7031 9.73047 15.1758 9.40234 14.5547C9.40234 14.5547 8.90234 16.4648 8.78125 16.9336C8.55469 17.8008 7.94531 18.8906 7.53906 19.5547C8.47656 19.8438 9.46875 20 10.5 20C16.0234 20 20.5 15.5234 20.5 10C20.5 4.47656 16.0234 0 10.5 0Z" fill="#005EB8"></path></svg>
                        </a>
                    </li>
                    <li> <!-- LINKEDIN LOGO -->
                        <a href="https://www.linkedin.com/company/certainteedsaintgobain" target="_blank">
                            <svg class="svgS" width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.0195 0H1.97656C1.16016 0 0.5 0.644531 0.5 1.44141V18.5547C0.5 19.3516 1.16016 20 1.97656 20H19.0195C19.8359 20 20.5 19.3516 20.5 18.5586V1.44141C20.5 0.644531 19.8359 0 19.0195 0ZM6.43359 17.043H3.46484V7.49609H6.43359V17.043ZM4.94922 6.19531C3.99609 6.19531 3.22656 5.42578 3.22656 4.47656C3.22656 3.52734 3.99609 2.75781 4.94922 2.75781C5.89844 2.75781 6.66797 3.52734 6.66797 4.47656C6.66797 5.42187 5.89844 6.19531 4.94922 6.19531ZM17.543 17.043H14.5781V12.4023C14.5781 11.2969 14.5586 9.87109 13.0352 9.87109C11.4922 9.87109 11.2578 11.0781 11.2578 12.3242V17.043H8.29688V7.49609H11.1406V8.80078H11.1797C11.5742 8.05078 12.543 7.25781 13.9844 7.25781C16.9883 7.25781 17.543 9.23438 17.543 11.8047V17.043V17.043Z" fill="#005EB8"></path></svg>
                        </a>
                    </li>
                </ul>
            </div>
            </div>
            <div class="col col-md-7 col-lg-4">
                <h3 style="font-weight: 600;">{{ 'footer.quick_links' | translate }}</h3>
                <ul class="quick-links-container">
                    <li>
                        <a href="#">{{ 'footer.quick_links_1' | translate }}</a>
                    </li>
                    <li>
                        <a href="#">{{ 'footer.quick_links_2' | translate }}</a>
                    </li>
                    <li>
                        <a href="#">{{ 'footer.quick_links_3' | translate }}</a>
                    </li>
                    <li>
                        <a href="#">{{ 'footer.quick_links_4' | translate }}</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm col-md-5 col-lg-4">
                <div class="newsletter-container">
                    <h3>{{ 'footer.newsletter' | translate}}</h3>
                    <p>{{ 'footer.newsletter_text' | translate}}</p>
                    <div>
                        <a class="newsletter-subscription" href="#">{{ 'footer.newsletter_btn' | translate}}</a>
                       <img style="height: 15px; margin-left: 10px; margin-bottom: 3px;" src="../../../assets/images/chevron.png" alt="">
                    </div>
                    <!-- SG logo below -->
                    <a class="sg-logo" href="#">
                    <svg width="111" class="svglogo" height="45" viewBox="0 0 111 45" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_6298_258185)"><path d="M5.3379 38.8623C3.81802 38.4005 3.14465 38.1312 3.14465 37.2654C3.14465 36.4959 4.18356 36.2265 5.08779 36.2265C5.85735 36.2265 6.70387 36.4574 7.28104 36.8229C7.41571 36.9191 7.58886 36.9384 7.74277 36.8999C7.89668 36.8614 8.03136 36.746 8.08907 36.6113L8.35842 36.1111C8.49309 35.861 8.3969 35.5532 8.16603 35.3993C7.33875 34.8798 6.18441 34.5527 5.12627 34.5527C2.91378 34.5527 1.43238 35.6686 1.43238 37.3232C1.43238 39.4779 3.29856 40.0166 4.77997 40.4399C6.33833 40.9016 7.01169 41.1902 7.01169 42.0944C7.01169 42.9987 5.91507 43.3257 4.8954 43.3257C3.87573 43.3257 2.85607 42.9025 2.1827 42.2291C2.06727 42.1137 1.89412 42.0367 1.72097 42.0752C1.54782 42.0752 1.3939 42.1906 1.29771 42.3445L0.989885 42.8447C0.855212 43.0564 0.89369 43.345 1.08608 43.5181C2.04803 44.4416 3.51019 45.0187 4.87616 45.0187C7.20408 45.0187 8.76244 43.8452 8.76244 42.0944C8.76244 39.8819 6.89626 39.324 5.37638 38.8815" fill="#393F84"></path><path d="M15.5542 34.8993C15.4581 34.7069 15.2657 34.5723 15.0348 34.5723H14.4191C14.2075 34.5723 13.9959 34.7069 13.8997 34.8993L9.57092 44.211C9.49397 44.3842 9.51321 44.5765 9.6094 44.7305C9.72483 44.8844 9.89799 44.9806 10.0904 44.9806H10.7253C10.9561 44.9806 11.1485 44.8459 11.2447 44.6535L12.3221 42.3256H17.1703L18.2669 44.6535C18.3631 44.8459 18.5555 44.9806 18.7864 44.9806H19.4213C19.6137 44.9806 19.7868 44.8844 19.9023 44.7305C19.9985 44.5765 20.0177 44.3842 19.9407 44.211L15.5735 34.8993H15.5542ZM13.0724 40.671L14.727 37.0926L16.4008 40.671H13.0724Z" fill="#393F84"></path><path d="M22.7523 34.5723H22.1751C21.8673 34.5723 21.6172 34.8224 21.6172 35.1302V44.4419C21.6172 44.7497 21.8673 44.9998 22.1751 44.9998H22.7523C23.0601 44.9998 23.3102 44.7497 23.3102 44.4419V35.1302C23.3102 34.8224 23.0601 34.5723 22.7523 34.5723Z" fill="#393F84"></path><path d="M34.6381 34.5723H34.0802C33.7723 34.5723 33.5222 34.8224 33.5222 35.1302V41.9216L28.1738 34.8224C28.0776 34.6877 27.9044 34.5915 27.7313 34.5915H27.0579C26.7501 34.5915 26.5 34.8416 26.5 35.1494V44.4611C26.5 44.7689 26.7501 45.019 27.0579 45.019H27.6351C27.9429 45.019 28.193 44.7689 28.193 44.4611V37.689L33.5222 44.7882C33.6377 44.9228 33.7916 45.019 33.984 45.019H34.6573C34.9652 45.019 35.2153 44.7689 35.2153 44.4611V35.1494C35.2153 34.8416 34.9652 34.5915 34.6573 34.5915" fill="#393F84"></path><path d="M44.4903 34.5723H37.4681C37.1603 34.5723 36.9102 34.8224 36.9102 35.1302V35.6689C36.9102 35.9767 37.1603 36.2268 37.4681 36.2268H40.1231V44.4419C40.1231 44.7497 40.3732 44.9998 40.681 44.9998H41.2582C41.566 44.9998 41.8161 44.7497 41.8161 44.4419V36.2268H44.4711C44.7789 36.2268 45.029 35.9767 45.029 35.6689V35.1302C45.029 34.8224 44.7789 34.5723 44.4711 34.5723" fill="#393F84"></path><path d="M48.6836 39.6523H45.6439C45.336 39.6523 45.0859 39.9024 45.0859 40.2103V40.672C45.0859 40.9798 45.336 41.2299 45.6439 41.2299H48.6836C48.9915 41.2299 49.2416 40.9798 49.2416 40.672V40.2103C49.2416 39.9024 48.9915 39.6523 48.6836 39.6523Z" fill="#393F84"></path><path d="M60.5176 39.324H59.9982H58.3051C57.9973 39.324 57.7472 39.5741 57.7472 39.8819V40.4399C57.7472 40.7477 57.9973 40.9978 58.3051 40.9978H59.4402V42.6908C58.7669 43.1333 57.9781 43.3834 57.17 43.3834C55.073 43.3834 53.3607 41.7674 53.3607 39.7857C53.3607 37.8041 55.073 36.2073 57.17 36.2073C58.1512 36.2073 59.1132 36.5536 59.8058 37.1692C59.9212 37.2654 60.0751 37.3231 60.229 37.3039C60.3829 37.3039 60.5176 37.2077 60.6138 37.0923L60.9601 36.6883C61.1525 36.4574 61.114 36.1303 60.9024 35.9187C59.8827 35.053 58.5552 34.5527 57.17 34.5527C54.1303 34.5527 51.6484 36.8999 51.6484 39.7665C51.6484 42.6331 54.111 44.9995 57.1316 44.9995C58.4975 44.9995 59.8635 44.4993 60.8832 43.6528C60.9986 43.5566 61.0755 43.4027 61.0755 43.2295V39.8627C61.0755 39.5549 60.8254 39.3048 60.5176 39.3048" fill="#393F84"></path><path d="M68.518 34.5723C65.4782 34.5723 63.0156 36.9194 63.0156 39.786C63.0156 42.6526 65.4782 45.019 68.518 45.019C71.5577 45.019 74.0203 42.6719 74.0203 39.786C74.0203 36.9002 71.5577 34.5723 68.518 34.5723ZM68.518 43.3645C66.4209 43.3645 64.7279 41.7677 64.7279 39.786C64.7279 37.8044 66.4209 36.2268 68.518 36.2268C70.615 36.2268 72.3081 37.8237 72.3081 39.786C72.3081 41.7484 70.615 43.3645 68.518 43.3645Z" fill="#393F84"></path><path d="M83.0442 39.4782C83.6214 38.9972 83.9292 38.2854 83.9292 37.4196C83.9292 35.6497 82.5632 34.5723 80.3892 34.5723H76.4837C76.1759 34.5723 75.9258 34.8224 75.9258 35.1302V44.4419C75.9258 44.7497 76.1759 44.9998 76.4837 44.9998H80.4085C82.9095 44.9998 84.3909 43.8647 84.3909 41.9408C84.3909 40.8634 83.8907 39.9977 83.025 39.4974M80.37 38.8048H77.6188V36.2268H80.37C81.2165 36.2268 82.2169 36.4384 82.2169 37.4966C82.2169 38.3623 81.6013 38.8048 80.37 38.8048ZM77.6188 40.4594H80.37C81.2357 40.4594 82.6979 40.6518 82.6979 41.8831C82.6979 43.1144 81.4281 43.3645 80.37 43.3645H77.6188V40.4786V40.4594Z" fill="#393F84"></path><path d="M91.3355 34.8993C91.2393 34.7069 91.0469 34.5723 90.816 34.5723H90.2004C89.9888 34.5723 89.7771 34.7069 89.6809 34.8993L85.3522 44.211C85.2752 44.3842 85.2945 44.5765 85.3907 44.7305C85.4868 44.8844 85.6792 44.9806 85.8716 44.9806H86.5065C86.7374 44.9806 86.9298 44.8459 87.026 44.6535L88.1033 42.3256H92.9516L94.0482 44.6535C94.1444 44.8459 94.3368 44.9806 94.5677 44.9806H95.2025C95.3949 44.9806 95.5681 44.8844 95.6835 44.7305C95.7797 44.5765 95.7989 44.3842 95.722 44.211L91.3547 34.8993H91.3355ZM88.8537 40.671L90.5082 37.0926L92.182 40.671H88.8537Z" fill="#393F84"></path><path d="M98.5335 34.5723H97.9564C97.6485 34.5723 97.3984 34.8224 97.3984 35.1302V44.4419C97.3984 44.7497 97.6485 44.9998 97.9564 44.9998H98.5335C98.8414 44.9998 99.0915 44.7497 99.0915 44.4419V35.1302C99.0915 34.8224 98.8414 34.5723 98.5335 34.5723Z" fill="#393F84"></path><path d="M110.439 34.5723H109.881C109.573 34.5723 109.323 34.8224 109.323 35.1302V41.9216L103.974 34.8224C103.859 34.6877 103.705 34.5915 103.513 34.5915H102.839C102.531 34.5915 102.281 34.8416 102.281 35.1494V44.4611C102.281 44.7689 102.531 45.019 102.839 45.019H103.416C103.724 45.019 103.974 44.7689 103.974 44.4611V37.689L109.323 44.7882C109.438 44.9228 109.592 45.019 109.784 45.019H110.458C110.766 45.019 111.016 44.7689 111.016 44.4611V35.1494C111.016 34.8416 110.766 34.5915 110.458 34.5915" fill="#393F84"></path><mask style="mask-type:luminance;" id="mask0_6298_258185" maskUnits="userSpaceOnUse" x="14" y="0" width="84" height="31"><path d="M60.8827 18.3155L62.6334 19.6045V28.3968H60.8827V18.3348V18.3155ZM67.5778 0.288585L59.1896 8.61907C58.9972 8.81146 58.901 9.04233 58.901 9.29243V14.4292L56.2461 12.4861C55.8805 12.2168 55.3803 12.236 55.034 12.5053L47.5885 18.3348C47.3577 18.5271 47.223 18.7965 47.223 19.1043V28.3583H45.4722V23.2792C45.4722 21.3938 44.1447 19.4121 41.7014 19.4121C39.258 19.4121 37.9113 21.413 37.9113 23.2984V28.2813H36.1798V24.9145C36.1798 23.4331 35.1217 21.8555 33.1785 21.8555C31.2354 21.8555 30.1772 23.4331 30.1772 24.9145V28.2236H28.4457C28.4457 27.531 28.4457 26.646 28.4457 26.2805C28.4457 24.9337 27.1567 23.6447 25.5983 23.6447C23.8476 23.6447 22.7702 25.1069 22.7702 26.2612V28.2236H15.8442C15.2862 28.2236 14.8438 28.6661 14.8438 29.1856C14.8438 29.705 15.2862 30.1667 15.8442 30.1667H23.7514C24.0208 30.1667 24.2709 30.0705 24.444 29.8782C24.6364 29.6858 24.7326 29.4549 24.7326 29.1856C24.7326 29.1856 24.7326 26.6268 24.7326 26.3959C24.7326 26.165 24.925 25.5686 25.5406 25.5686C26.2717 25.5686 26.4064 26.1458 26.4064 26.4151C26.4064 26.6268 26.4064 29.1663 26.4064 29.1663C26.4064 29.705 26.8489 30.1283 27.4068 30.1283H31.1392C31.6971 30.1283 32.1396 29.6858 32.1396 29.1471V24.8568C32.1396 24.472 32.3512 23.7409 33.14 23.7409C33.9288 23.7409 34.1405 24.472 34.1405 24.8568V29.1856C34.1405 29.7242 34.583 30.1667 35.1409 30.1667H38.854C39.1234 30.1667 39.3735 30.0705 39.5659 29.8782C39.7582 29.705 39.8544 29.4549 39.8544 29.1856V23.2215C39.8544 22.5481 40.22 21.2783 41.6437 21.2783C42.9519 21.2783 43.4329 22.4327 43.4329 23.2022V29.2433C43.4329 29.782 43.8754 30.2245 44.4333 30.2245H48.1657C48.7044 30.2245 49.1661 29.782 49.1661 29.2433V19.4891L55.6497 14.41L58.8818 16.7764V29.2433C58.8818 29.782 59.3243 30.2245 59.863 30.2245H63.5954C64.1533 30.2245 64.5958 29.782 64.5958 29.2433V18.9889C64.5958 18.6811 64.4419 18.3925 64.1918 18.2193L60.8442 15.7952V9.58102L67.2508 3.23215V29.2817C67.2508 29.8204 67.6933 30.2629 68.2512 30.2629H71.9836C72.5415 30.2629 72.984 29.8204 72.984 29.2817V12.2937H74.0037L78.2362 16.1992V29.3395C78.2362 29.8782 78.6787 30.3207 79.2367 30.3207H82.969C83.5269 30.3207 83.9695 29.8782 83.9695 29.3395V25.6456L88.3752 29.8974C88.5676 30.0705 88.8177 30.186 89.087 30.186H96.0515C96.6095 30.186 97.052 29.7435 97.052 29.224C97.052 28.7046 96.6095 28.2428 96.0515 28.2428H89.5103L83.7001 22.6251C83.4115 22.3557 82.9883 22.2595 82.6227 22.4134C82.2572 22.5673 82.0071 22.9136 82.0071 23.3177V28.3775H80.2756V15.776C80.2756 15.5066 80.1601 15.2565 79.9677 15.0641L75.1388 10.6007C74.9464 10.4275 74.7155 10.3313 74.4462 10.3313H72.0413C71.4833 10.3313 71.0409 10.7738 71.0409 11.3125V28.3198H69.2901V0.981189C69.2901 0.57717 69.04 0.230868 68.6745 0.076956C68.559 0.019239 68.4243 0 68.2897 0C68.0203 0 67.7702 0.096195 67.5778 0.288585Z" fill="white"></path></mask><g mask="url(#mask0_6298_258185)"><path d="M97.0718 0H14.8828V30.3207H97.0718V0Z" fill="url(#paint0_linear_6298_258185)"></path></g></g><defs><linearGradient id="paint0_linear_6298_258185" x1="14.2164" y1="17.1389" x2="96.4053" y2="17.1389" gradientUnits="userSpaceOnUse"><stop stop-color="#79AEB0"></stop><stop offset="0.1" stop-color="#79AEB0"></stop><stop offset="0.3" stop-color="#5F92CD"></stop><stop offset="0.37" stop-color="#455B9C"></stop><stop offset="0.42" stop-color="#393F84"></stop><stop offset="0.47" stop-color="#6E326A"></stop><stop offset="0.55" stop-color="#BE1F45"></stop><stop offset="0.56" stop-color="#BE2144"></stop><stop offset="0.68" stop-color="#C64C34"></stop><stop offset="0.78" stop-color="#CC672B"></stop><stop offset="0.84" stop-color="#CE7128"></stop><stop offset="1" stop-color="#CE7128"></stop></linearGradient><clipPath id="clip0_6298_258185"><rect width="110.124" height="45" fill="white" transform="translate(0.875)"></rect></clipPath></defs></svg>		
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>

    <!-- <div class="footer-links-container">
    <div class="row">
        <div class="col">
            <ul class="footer-links">
                <li>
                    <a href="#">Privacy Policy</a>
                </li>
                <li>
                    <a href="#">Cookie Policy</a>
                </li>
                <li>
                    <a href="#">Terms of Use</a>
                </li>
                <li>
                    <a href="#">California Privacy Rights Statement</a>
                </li>
                <li>
                    <a href="#">CA Transparency in Supply Chains Act</a>
                </li>
            </ul>
        </div>
        <div class="col">
            <li>
                <p>© 2023 CertainTeed, LLC. All rights reserved.</p>
            </li>
        </div>
    </div>
    </div> -->