* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gotham,"Helvetica","Arial",sans-serif;
}

header {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

footer {
    background: #F5F3F0;
    padding: 2em 0;
}

/* .col-md {
    border: 1px solid #73695b;
} */

.fa-brands {
    color: #005EB8;
    font-size: clamp(1em, 2vw, .1em);
}

.social-icons-container {
    padding-left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3em;
    /* border: 1px solid red; */
}

.social-icons-container li {
    list-style: none;
}

.quick-links-container {
    margin-top: 1em;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .5em;
}

.quick-links-container li {
    list-style: none;
}

.quick-links-container li a {
    text-decoration: none;
    color: #212121;
}

.quick-links-container li a:hover {
    text-decoration: underline;
}

.newsletter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.newsletter-container h3 {
    font-weight: 700;
}

.newsletter-container p {
    padding-top: 1em;
    padding-bottom: 2em;
    font-size: clamp(0.85rem, 0.6936rem + 0.301vw, 1rem);
}

/* .newsletter-container a {
    text-decoration: none;
    color: #212121;
    font-weight: 700;
    margin-right: .5em;
} */
.subscription-container {
    display: inline-block;
    position: relative;
}

.newsletter-subscription {
    color: #212121;
    transition: color 0.3s ease-in-out; 
    text-decoration: none;
    padding-top: 2em;
    font-weight: 700;
}

.fa-solid.fa-chevron-right {
    margin-left: 5px; /* Set the initial position of the chevron */
    transition: margin-left 0.3s ease-in-out; /* Add a transition for margin-left */
}

.subscription-container:hover .newsletter-subscription {
    color: #005EB8; /* Change text color on hover */
}

.subscription-container:hover .fa-solid.fa-chevron-right {
    margin-left: 10px; /* Move chevron a bit to the right on hover */
}

.logos img {
    height: 72px;
    margin-bottom: 1em;
}

.newsletter-container .sg-logo {
    height: 7vh;
    align-self: flex-end;
    margin-top: 3em;
}

.newsletter-container i {
    cursor: pointer;
    transition: all .2s ease-in;
}

.newsletter-container i:hover {
    transform: translateX(5px);
}

.footer-links-container {
    display: flex;
    justify-content: center;
    align-items: center;   
    background: #005EB8;
}

.footer-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@media (max-width: 992px) {
    .logos {
        margin-bottom: 3em;
    }
}

@media (max-width: 576px) {
    footer {
        margin: 2em;
    }
    .logos, .quick-links-container {
        margin-bottom: 3em;
    }
}

/* 
footer {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.footer-top {
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    background: #f5f3f0ff;
    padding: 3em 2em;
}

.footer-top-one {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 4em;
}

.footer-top-two {
    align-self: flex-end;
}

.footer-top-two img {
    height: 10vh;
}

.quick-links-container h5, .newsletter-container h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.quick-links {
    display: flex;
    flex-direction: column;
    padding-left: 0;
}

.quick-links li {
    list-style: none;
    margin: .5em 0;
}

.quick-links li a {
    text-decoration: none;
    color: #212121;
}
.footer-bottom-container {
    padding: 2em;
    font-size: 14px;
    background: #005EB8;
    color: #fff;
}

.footer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    list-style: none;
}
ul.footer-bottom {
    padding-left: 0;
    margin-bottom: 0;
}

.footer-bottom li p {
    margin-bottom: 0;
}

.footer-bottom li a {
    text-decoration: none;
    color: white;
}

.footer-bottom li a:hover {
    text-decoration: underline;
    color: white;
} 

.socials {
    margin-top: 1em;
    padding-left: 0;
    display: flex;
    justify-content: flex-start;
    gap: 2em;
}

.socials li  {
    list-style: none;
}

footer.container-fluid.footer {
    padding-left: 0;
    padding-right: 0;
}

.subscription {
    text-transform: uppercase;
    text-decoration: none;
    color: #212121;
}

.subscription:hover {
    color: #005EB8;
} */