<div class="container">
    <!-- <h3 class="mb-4" style="text-transform: uppercase; color: #005EB8; font-weight: 600; font-size: 28px;">CREATE USER</h3> -->
    <div class="pending__requests mb-2">
        <h3 style="text-transform: uppercase; color: #005EB8; font-weight: 600; font-size: 24px;">create user</h3>
    </div>
    <div class="card mt-4">
        <div class="card-header p-3" style="background: #005EB8;color: #fff;font-size: 18px; font-weight: 600;">USER DETAILS</div>
        <div class="card-body">
            <div class="row">
                <div class="col-md">
                    <div class="form-group mb-3">
                        <label for="site" class="form-label">Site</label>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>-- Select Site --</option>
                            <option value="DiamonDeck">DiamonDeck</option>
                            <option value="RoofRunner">RoofRunner</option>
                            <option value="CertaWrap">CertaWrap</option>
                        </select>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-group mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="text" class="form-control" id="email" aria-describedby="emailHelp">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group mb-3">
                        <label for="firstName" class="form-label">First Name</label>
                        <input type="text" class="form-control" id="firstName" aria-describedby="firstNameHelp">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group mb-3">
                        <label for="lastName" class="form-label">Last Name</label>
                        <input type="text" class="form-control" id="lastName" aria-describedby="lastNameHelp">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group mb-3">
                        <label for="sgid" class="form-label">SGID</label>
                        <input type="text" class="form-control" id="sgid" aria-describedby="sgidHelp">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group mb-3">
                        <label for="companyName" class="form-label">Company Name</label>
                        <input type="text" class="form-control" id="companyName" aria-describedby="companyNameHelp">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group mb-3">
                        <label for="address" class="form-label">Address</label>
                        <input type="text" class="form-control" id="address" aria-describedby="addressHelp">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group mb-3">
                        <label for="city" class="form-label">City</label>
                        <input type="text" class="form-control" id="city" aria-describedby="cityHelp">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group mb-3">
                        <label for="province" class="form-label">State / Province</label>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>--select a state--</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group mb-3">
                        <label for="postalCode" class="form-label">Postal Code</label>
                        <input type="text" class="form-control" id="postalCode" aria-describedby="postalCodeHelp">

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group mb-3">
                        <label for="country" class="form-label">Country</label>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>--select a country--</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group mb-3">
                        <label for="phone" class="form-label">Phone</label>
                        <input type="text" class="form-control" id="phone" aria-describedby="phoneHelp">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-md-">
                    <div class="form-group mb-3">
                        <label for="role" class="form-label">Security Level</label>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>-- Select Security Level --</option>
                            <option value="SuperAdmin">Super Admin</option>
                            <option value="Admin">Admin</option>
                            <option value="Vendor">Vendor</option>
                            <option value="EndUser">End User</option>
                            <option value="CustomerService">Customer Service</option>
                        </select>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-primary mx-auto w-25 mt-4">Submit</button>
        </div>  
    </div>
</div>
