<div class="container">
    <!-- <h3 class="mb-4" style="text-transform: uppercase; color: #005EB8; font-weight: 600; font-size: 28px;">CREATE NEW ORDER</h3> -->
    <div class="pending__requests mb-2">
        <h3 style="text-transform: uppercase; color: #005EB8; font-weight: 600; font-size: 24px;">create new order</h3>
    </div>
    <div class="row mt-4">
        <div class="col">
            <div class="card">
                <div class="card-header p-3" style="background: #005EB8;color: #fff;font-size: 18px; font-weight: 600;">ORDER INFORMATION</div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="city" class="form-label">Site</label>
                        <select class="form-select mb-3" aria-label="Default select example">
                            <option selected>-- Select a Site --</option>
                            <option value="1">DiamondDeck</option>
                            <option value="2">RoofRunner</option>
                            <option value="3">Certawrap</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="orderNumber" class="form-label">Order Number</label>
                        <input type="text" class="form-control mb-3" id="orderNumber" aria-describedby="orderNumberHelp">
                    </div>
                    <div class="form-group">
                        <label for="PONumber" class="form-label">PO Number</label>
                        <input type="text" class="form-control mb-3" id="PONumber" aria-describedby="PONumberHelp">
                    </div>
                    <div class="form-group">
                        <label for="dateOfOrder" class="form-label">Date of Order</label>
                        <input type="text" class="form-control mb-3" name="" placeholder="today's date" id="dateOfOrder">
                    </div>
                    <div class="from-group">
                        <label for="anticipatedCompletionDate" class="form-label">Anticipated Completion Date</label>
                        <input type="text" class="form-control mb-3" id="anticipatedCompletionDate" aria-describedby="anticipatedCompletionDateHelp">
                    </div>
                    <div class="form-group">
                        <label for="orderStatus" class="form-label">Order Status</label>
                        <input type="text" class="form-control mb-3" id="orderStatus" aria-describedby="orderStatusHelp">
                    </div>
                    <div class="form-group">
                        <label for="enteredBy" class="form-label">Entered By</label>
                        <input type="text" class="form-control mb-3" id="enteredBy" aria-describedby="enteredByHelp">
                    </div>
                    <div class="form-group mb-3">
                        <label for="lastUpdated" class="form-label">Last Updated</label>
                        <input type="text" class="form-control" id="lastUpdated" aria-describedby="lastUpdatedHelp">

                    </div>
                    <div class="form-group mb-3">
                        <label for="artworkFile" class="form-label">Artwork File</label>
                        <input type="text" class="form-control" id="artworkFile" aria-describedby="artworkFileHelp">

                    </div>
                    <div class="form-group mb-3">
                        <label for="latestProof" class="form-label">Latest Proof</label>
                        <input type="text" class="form-control" id="latestProof" aria-describedby="latestProofHelp">

                    </div>
                    <div class="form-group mb-3">
                        <label for="orderType" class="form-label">Order Type</label>
                        <input type="text" class="form-control" id="orderType" aria-describedby="orderTypeHelp">
                    </div>
                </div>
            </div>
        </div>

        <!-- SHIPPINGGGG -->
        <div class="col">
            <div class="card">
                <div class="card-header p-3" style="background: #005EB8;color: #fff;font-size: 18px; font-weight: 600;">SHIPPING INFORMATION</div>
                <div class="card-body">
                    <div class="form-group mb-3">
                        <label for="orderBy" class="form-label">Order By</label>
                        <input type="text" class="form-control" id="orderBy" aria-describedby="orderByHelp">

                    </div>
                    <div class="form-group mb-3">
                        <label for="shipTo" class="form-label">Ship To</label>
                        <input type="text" class="form-control" id="shipTo" aria-describedby="shipToHelp">

                    </div>
                    <div class="form-group mb-3">
                        <label for="company" class="form-label">Company</label>
                        <input type="text" class="form-control" id="company" aria-describedby="companyHelp">

                    </div>
                    <div class="form-group mb-3">
                        <label for="contact" class="form-label">Contact</label>
                        <input type="text" class="form-control" id="contact" aria-describedby="contactHelp">

                    </div>
                    <div class="form-group mb-3">
                        <label for="address" class="form-label">Address</label>
                        <input type="text" class="form-control" id="address" aria-describedby="addressHelp">

                    </div>
                    <div class="form-group mb-3">
                        <label for="city" class="form-label">City</label>
                        <input type="text" class="form-control" id="city" aria-describedby="cityHelp">

                    </div>
                    <div class="form-group mb-3">
                        <label for="city" class="form-label">State/Province</label>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>--select a state--</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>

                    </div>
                    <div class="form-group mb-3">
                        <label for="zip" class="form-label">Zip/Postal Code</label>
                        <input type="text" class="form-control" id="zip" aria-describedby="zipHelp">

                    </div>
                    <div class="form-group mb-3">
                        <label for="country" class="form-label">Country</label>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>--select a country--</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>

                    </div>
                    <div class="form-group mb-3">
                        <label for="telephone" class="form-label">Telephone</label>
                        <input type="text" class="form-control" id="telephone" aria-describedby="telephoneHelp">
                    </div>
                    <div class="form-group mb-3" style="visibility: hidden;">
                        <label for="telephone" class="form-label">Telephone</label>
                        <input type="text" class="form-control" id="telephone" aria-describedby="telephoneHelp">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- PRODUCTS NEW SECTION -->
    <div class="card mt-4">
        <div class="card-header p-3" style="background: #005EB8;color: #fff;font-size: 18px; font-weight: 600;">PRODUCTS</div>
        <div class="card-body">
            <div class="row">
                <div class="col mt-2">
                    <p>Product Code</p>
                    <input type="text" class="form-control" name="" id="">
                    <input type="text" class="form-control mt-3" name="" id="">
                    <input type="text" class="form-control mt-3" name="" id="">
                </div>
                <div class="col mt-2">
                    <p>Description</p>
                    <input type="text" class="form-control" name="" id="">
                    <input type="text" class="form-control mt-3" name="" id="">
                    <input type="text" class="form-control mt-3" name="" id="">
                </div>
                <div class="col mt-2">
                    <p>Quantity</p>
                    <input type="text" class="form-control" name="" id="">
                    <input type="text" class="form-control mt-3" name="" id="">
                    <input type="text" class="form-control mt-3" name="" id=""></div>
            </div>
        </div>
    </div>


    <!-- ASSIGN CUSTOMER SECTION -->
    <div class="card mt-4">
        <div class="card-header p-3" style="background: #005EB8;color: #fff;font-size: 18px; font-weight: 600;">ASSIGN CUSTOMER</div>
        <div class="card-body">
            <p>Select the email address of the customer that will be responsible for uploading artwork, reviewing and approving proofs for this order or manually add a new address.  Once you click Submit the order will be sent to the customer to upload artwork.  Once submitted the email address cannot be changed.</p>
            <div class="row">
                <div class="col-5 mt-2">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>--select a country--</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>
            <button type="button" class="btn btn-primary mt-4">Submit</button>
        </div>
    </div>
