<!-- <div class="container">
    <div class="col d-flex justify-content-center">
        <div class="card">
            <div class="logo-container">
                <img style="margin: 0 auto;" src="../../../assets/sg-ct-logo.svg" alt="">
            </div>
            <div class="card-content">
                <h5>OTP Verification</h5>
                <p>otp verification process will take place...</p>
                <label id="otp" for="otp" class="form-required mb-2">OTP</label>
                <input type="text" name="otp" class="form-control mb-4" id="otp" placeholder="eg: 000 000" required/>
                <a id="save" class="btn-submit w-100">Continue</a>
            </div>
        </div>
    </div>
</div> -->

<div class="container">

    <div class="card mx-auto" style="max-width: 25rem;">
        <div class="card-header d-flex p-3">
            <img style="height: 25px; margin: 0 auto;" src="../../../assets/sg-ct-logo.svg" alt="">
        </div>
        <div class="card-body p-4">
            <h5 class="card-title">OTP Verification</h5>
            <p class="card-text">OTP has been sent to your email address. Please enter the code below.</p>
            <label id="otp" for="otp" class="form-required mb-2">OTP</label>
            <input type="text" name="otp" class="form-control mb-4" id="otp" placeholder="eg: 000 000" required/>
            <a href="#" class="btn-submit w-100">Continue</a>
        </div>
    </div>

</div>