/* You can add global styles to this file, and also import other style files */
@import '~@okta/okta-signin-widget/dist/css/okta-sign-in.min.css';

* {
  font-family: gotham, sans-serif;
}

body {
    height: 100%;
    box-sizing: border-box;
  }