.login-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#okta-sign-in.auth-container .button-primary {
    color: #fff;
    background-color: #c1bb00;
    background: linear-gradient(#c10057,#0073b2);
    border-color: #004b75 #004b75 #00456a;
    box-shadow: 0 1px 0 rgba(0,0,0,.15), inset 0 1px 0 0 hsla(0,0%,100%,.1);
}