.container {
    padding-left: 0;
    padding-right: 0;
    margin-top: 2em;
    margin-bottom: 5em;
    font-family: 'roboto', sans-serif;
}

/* .card-header {
    background: #005EB8;
} */

.btn {
    font-weight: 700;
    /* padding: .3em 2em; */
    background: #005eb8;
    color: white;
    border: 2px solid #014e96;
    border-radius: 5px;
    font-family: gotham,"Helvetica","Arial",sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.2s box-shadow ease-in-out;
}

.btn:hover {
    /* outline: 4px solid white; */
    box-shadow: inset 0 0 0 2px white;
}

.actions__one ul {
    padding-left: 0;
    margin-bottom: .5em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
}

.actions__one ul li {
    list-style: none;
}

.actions__one ul li a {
    text-decoration: none;
}

.actions__two {
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: .2em;
}

.actions__two a {
    text-decoration: none;
}

.actions__two p {
    margin-bottom: 0;
}

.actions__three {
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: .2em;
}

.actions__three a {
    text-decoration: none;
}

.actions__three p {
    margin-bottom: 0;
}

.pending__requests {
    /* margin-top: 2em; */
    padding: 1em;
    background: #F5F3F0;
    border-radius: 5px;
}

.pending__requests h3 {
    margin-bottom: 0em;
}