.container {
    /* border: 1px solid red; */
    margin-top: 5em;
    margin-bottom: 5em;
}

input[type="text"]::placeholder {
    color: red #e9e9e9;
}

.card {
    font-family: 'Roboto', sans-serif;
    box-shadow: 0px 4px 14.3px 0px rgba(0, 0, 0, 0.07);
}

.card-content {
    padding: 2em;
}

.logo-container {
    padding: 1em;
    display: flex;
    border-bottom: 1px solid #D9D9D9;
}

.logo-container img {
    height: 4vh;
}

.btn-submit {
    display: block;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    padding: .3em 2em;
    background: #005eb8;
    color: white;
    border: 2px solid #014e96;
    border-radius: 5px;
    font-family: gotham,"Helvetica","Arial",sans-serif;
    /* text-transform: uppercase; */
    cursor: pointer;
    transition: 0.2s box-shadow ease-in-out;
}

.btn-submit:hover {
    /* outline: 4px solid white; */
    box-shadow: inset 0 0 0 2px white;
}